DATABASE_URL="postgresql://neondb_owner:***@ep-long-thunder-b5uru4j8-pooler.c-7.us-east-2.aws.neon.tech/neondb?sslmode=require"
JWT_SECRET="penny-production-jwt-secret-2026"
JWT_EXPIRES_IN="15m"
REFRESH_TOKEN_EXPIRES_DAYS=30
PORT=3000

# Gmail SMTP
SMTP_USER="kartheesan2004@gmail.com"
SMTP_PASS="gqubgttgwffzmwvi"
SMTP_FROM="Penny <kartheesan2004@gmail.com>"
